<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <h1 class="title">Dados Pessoais</h1>
    <h2 class="subtitle">
      <p><strong>Nome: </strong> {{student.studentFirstName}} {{student.studentLastName}}</p>        
      <p><strong>CPF: </strong> {{student.studentCPF}}</p>        
      <p><strong>Email: </strong> {{student.email}}</p>        
      <p><strong>Idade: </strong> {{student.age}}</p>        
    </h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Aulas</h1>
    <h2 class="subtitle" *ngFor="let classroom of student.classrooms">      
        <p><strong>Dia da Semana: </strong> {{classroom.dayOfWeek }}</p> 
        <p><strong>Inicio: </strong> {{classroom.start | date:'HH:mm'}}</p>                
        <p><strong>Fim: </strong> {{classroom.end | date:'HH:mm'}}</p>                
    </h2>    
  </div>
</section>
<app-footer></app-footer>

